.x-link {
  all: reset;
  color: #666;
  box-shadow: 1px 1px 2px 1px rgb(99 91 227 / 0.4), -1px -1px 2px 1px rgb(99 91 227 / 0.4);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 4px 4px rgb(99 91 227 / 0.4), -2px -2px 4px 4px rgb(99 91 227 / 0.4);

    .x-link-title {
      color: #635be3;

      &:before {
        width: 100%;
      }
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  position: relative;
  overflow: hidden;
  border-radius: 8px;
  text-decoration: none !important;
  display: inline-flex;

  &-backdrop {
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: 8px;
    background: #fff;
  }

  &-content {
    position: relative;
    z-index: 2;
    border: 1px solid rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;

    .x-link-title {
      flex-grow: 1;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 40px;
      font-weight: 500;
      line-height: 1.25em;
      position: relative;
    }

    .x-link-icon {
      margin-left: 16px;
      border-radius: 4px;
      flex-shrink: 0;
      display: block;
      height: 48px;
      width: 48px;
      background-size: cover;
    }
  }
}
