.x-btn {
  display: inline-block;
  transition: all .2s;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 8px 0;

  &:not(.disabled):not(:disabled) {
    cursor: pointer;
  }

  &-icon {
    padding: .25em 0 .25em .75em;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    padding: .25em .75em;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &-shadow {
    box-shadow: 0 0 45px -5px rgba(158, 158, 158, 0.22) !important;
  }

  &-group-sm > .btn,
  &-sm {
    font-size: .75rem;
    padding: 0.25rem 0.75rem;
  }

  &-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;

    &:hover {
      color: #fff;
      background-color: #0b5ed7;
      border-color: #0a58ca;
    }

    &:focus,
    &.focus {
      color: #fff;
      background-color: #0b5ed7;
      border-color: #0a58ca;
      box-shadow: 0 0 0 .25rem rgba(49, 132, 253, .5);
    }

    &:not(:disabled):not(.disabled) {

      &:active:focus,
      &.active:focus {
        color: #fff;
        background-color: #222831;
        border-color: #222831;
        box-shadow: none;
      }
    }
  }

  &-secondary {
    background-color: #252c41;
    border-color: #252c41;
    color: #fff;

    &:hover,
    &:focus,
    &.focus {
      color: #fff;
      background-color: #222831;
      border-color: #222831;
      box-shadow: 0 5px 20px -3px rgba(37, 44, 65, 0.33) !important;
    }

    &:not(:disabled):not(.disabled) {

      &:active:focus,
      &.active:focus {
        color: #fff;
        background-color: #222831;
        border-color: #222831;
        box-shadow: 0 5px 20px -3px rgba(37, 44, 65, 0.33) !important;
      }
    }

    &.disabled,
    &:disabled {
      color: #f4f5f9;
      background-color: #222831;
      border-color: #222831;
    }

    &:not(:disabled):not(.disabled) {

      &:active,
      &.active {
        color: #f4f5f9;
        background-color: #222831;
        border-color: #222831;
      }
    }

    .content {
      background-color: rgba(255, 255, 255, .1);
    }
  }

  &-light {
    color: #252c41;
    background-color: #f4f5f9;
    border-color: #f4f5f9;

    &:hover {
      color: #fff;
      background-color: #222831;
      border-color: #222831;
      box-shadow: 0 5px 20px -3px rgba(37, 44, 65, 0.33);
    }

    &:focus,
    &.focus {
      color: #9d9fa9;
      background-color: #f4f5f9;
      border-color: #f4f5f9;
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled) {

      &:active:focus,
      &.active:focus {
        color: #9d9fa9;
        background-color: #f4f5f9;
        border-color: #f4f5f9;
        box-shadow: none;
      }
    }

    &.disabled,
    &:disabled {
      color: #9d9fa9;
      background-color: #f1eff3;
      border-color: #f1eff3;
    }

    &:not(:disabled):not(.disabled) {

      &:active,
      &.active {
        color: #9d9fa9;
        background-color: #f4f5f9;
        border-color: #f4f5f9;
      }
    }
  }

  &-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;

    &:hover {
      background-color: #138496;
      border-color: #117a8b;
    }

    &:active {
      color: #fff;
      background-color: #117a8b;
      border-color: #10707f;
    }

    &:focus {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
      box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5);
    }
  }

  &-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;

    &:hover {
      background-color: #218838;
      border-color: #1e7e34;
    }

    &:active {
      color: #fff;
      background-color: #1e7e34;
      border-color: #1c7430;
    }

    &:focus {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34;
      box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5);
    }
  }

  &-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;

    &:hover {
      color: #212529;
      background-color: #e0a800;
      border-color: #d39e00;

    }

    &:active {
      color: #212529;
      background-color: #d39e00;
      border-color: #c69500;
    }

    &:focus {
      color: #212529;
      background-color: #e0a800;
      border-color: #d39e00;
      box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5);
    }
  }

  &-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

    &:hover {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;

    }

    &:active {
      color: #fff;
      background-color: #d83444;
      border-color: #d83444;
    }

    &:focus {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
      box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
    }
  }

  &-rounded {
    border-radius: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & + .x-btn {
    margin-left: 8px;
  }

  & + br + .x-btn {
    margin-top: 0;
  }
}
