#wmd-preview-button:not([active="true"]) ~ #wmd-preview-video-button {
  display: none;
}

.x-video,
.x-bilibili-wrapper {
  width: 100%;
  position: relative;
  margin: .5em 0;

  &.fake {
    .x-video-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #4b5563;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: white;
        width: 100px;
        height: 100px;
        max-height: 80%;
      }
    }
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.x-bilibili {
  &.fake {
    .x-video-inner {
      background-color: #fb7299;
    }
  }
}
