.x-custom-tabs {
  [is-default] {
    color: #ef4444;
    font-weight: bold;
  }

  &-toolbar {
    display: flex;
    gap: 12px;

    &-right {
      margin-left: auto;
      display: flex;
      flex-shrink: 0;
      gap: 8px;

      button {
        height: 28px;

        &.danger {
          color: #fff;
          background-color: #cb4133;

          &:hover {
            background-color: #e74c3c;
          }

          &[disabled] {
            background-color: #6b7280;
          }
        }
      }
    }

    .x-custom-tabs-nav {
      overflow-x: auto;
      display: flex;
      flex-wrap: nowrap;

      &-item {
        background-color: #f5f7fa;
        padding: 6px 12px;
        box-sizing: border-box;
        user-select: none;
        white-space: nowrap;
        cursor: pointer;

        &[disabled] {
          cursor: not-allowed;
        }

        &-active {
          border-top: 2px solid #1890ff;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }

        &.drag-over {
          color: #fff;
          background-color: #0e9a00;
        }
      }
    }
  }

  &-content {
    &-item {
      flex-direction: column;
      gap: 8px;
      padding: 8px;
      background-color: #f5f7fa;
      display: none;

      input {
        padding: 4px;
        border: 1px solid #d1d5db;

        &[name="is-default"]:checked {
          pointer-events: none;
          filter: brightness(80%);

          & + label {
            pointer-events: none;
            filter: brightness(80%);
          }
        }
      }

      textarea {
        padding: 4px;
        border: 1px solid #d1d5db;
        width: 100%;
        height: 100%;
        min-height: 80px;
      }

      &-active {
        display: flex;
      }
    }

    label[for] {
      user-select: none;
    }
  }

  &-info {
    margin-top: 8px;
    padding: 8px;
    background-color: #f0fdf4;
    color: #16a34a;
  }
}

.x-tabs {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #ccc;

  &-wrapper {
    margin: .5em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-nav {
    display: flex;
    overflow-y: auto;
    list-style: none !important;
    padding-left: 0 !important;
    margin: 0 !important;
    background-color: #e0e7ff;

    & > &-item {
      padding: 0 12px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: transparent;
      user-select: none;
      --active-color: #4f46e5;
      list-style-type: none !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;


      > span {
        white-space: nowrap;
        display: inline-block;
        padding: 8px 0;
        position: relative;

        &:after {
          content: "";
          display: block;
          height: 3px;
          position: absolute;
          left: 50%;
          background-color: transparent;
          width: 0;
          top: 0;
          transition: all .3s;
        }
      }

      &-active {
        cursor: auto;

        > span {
          color: var(--active-color);

          &:after {
            width: 100%;
            left: 0;
            background-color: var(--active-color);
          }
        }
      }
    }
  }

  &-content {
    overflow: hidden;
    position: relative;


    &-item {
      position: absolute;
      inset: 0;
      z-index: -1;
      padding: 12px;
      transition: all .3s;
      opacity: 0;
      transform: translateY(-100%);

      & > div:last-child {
        margin-bottom: 0;
      }

      &-active {
        position: relative;
        z-index: 1;
        opacity: 1;
        transform: translateY(0);
      }

      .line:first-child + br {
        display: none;
      }

      .x-link-wrapper + br {
        display: none;
      }
    }
  }
}
