h1, h2, h3, h4, h5, h6 {
  position: relative;
  line-height: 26px;
  margin: 18px 0;
  font-size: 18px;

  &:before {
    content: '';
  }
}

h1 {
  padding: 0 15px 0 15px;
  font-size: 22px;

  &:before {
    font-size: 22px;
    content: '¶';
    position: absolute;
    left: -5px;
    top: 0;
    color: #38bdf8;
  }
}

h2 {
  padding: 0 15px;
  font-size: 20px;

  &:before {
    position: absolute;
    display: block;
    top: 10%;
    bottom: 10%;
    left: 0;
    width: 4px;
    border-radius: 2px;
    background-color: #38bdf8;
  }
}

h3 {
  padding: 0 15px;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #38bdf8;
    border-radius: 0 4px 4px 0;
  }
}

h4 {
  margin-left: -10px;

  &:before {
    content: '「';
    font-weight: 600;
    margin-right: 5px;
    color: #38bdf8;
  }

  &:after {
    content: '」';
    font-weight: 600;
    margin-left: 5px;
    color: #38bdf8;
  }
}

h5 {
  padding: 0 15px;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -8px;
    width: 20px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAC8klEQVRYR+3WP2gTURwH8O/vKnVRRHKXP52cBO3g4p/BqYNIhy4muajUQRBFKjQV1En6ZxJBcmlRCoJDRe3FDiJVwamLS3FwqbgIgss1l2ZQF5XeT3I1Z3NJ7u5dLlAwN9699/t97vfe7/EIO/yhHe5DD9jpCv3fFVTu856+Xzi62Y/35hj9CFPNrlUwWeRJAJfBGADwBcBNI0/PRZFdAdo4xlQLjCqKjBzogat7hZCRAgPghJGBgbFnxglAOvS7b/fLb+q+qnv5BHBCyEBAWTdnANy2IxOtWSC1qsY+1jOFwAVG+gIVvXyHQbcaKuZCxmf5iMQogXFQtEsBeO5JT6BcMu+Bcb1lUhcyqfExACUAB6JEtgUqi+U5JrrmmcyFHCjwSYtQO+tSUSFbAmXdnAdwJVASdyWLPAS2kbFA8xsHNS13EzCmlx8R6KJQcBcypfFpho3cKxRna3ADsgEo6+ZjAKMhgjZ1d2KWR2gTSyD0h4jnIB2gXDIXwciFCPZvSnMl0wwshYrJGDImaMUGKovlLBPVOrDjh8APzFx8zDkjNa7FzYoGZsKT9XEarQOHmei1aJA246cqOWW6/i2l8VMGzoWIPW/k6eq2Ja6UwCz8pw2JGZ8sS8pUz8fWau/jGp+SgLchcGBgZD1Py41NUuoI+ZloV8ZU93+ogZKzfBiWfXAPCgMJU8Y42avQdMzI4ZBfmSizocqrUeJaAmsvBZGGBCtTziXeRY1rCxRAViEhXckqK93AeQJ9kYTvlmVlqmcTdhNEtefc+9X3utVmuX+CkK6oyqtu4nwrWP8bF5IZdGYjJ79wDuMCz4D+XmhFWnZbt7ab5ltBB6mbkyAaBPFCJassuwMmNb4L4EZgXwBc4AoGTZrUeA6A9x1yK6tzzvnFDlxBv0D176kCP2TCpbbjBXCRV9DZk0VeAONCE1IQ1zWg3dlF1sFQHWQIXFeBNrLAw5BwHBZWjQl6E3SbbB8X+R4Mg/Ca0wN2WtFeBTut4B84mFI4VpekyAAAAABJRU5ErkJggg==');
    background-size: 100% 100%;
  }
}

h6 {
  padding: 0 15px;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -8px;
    width: 20px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAEI0lEQVRYR+3Xb2wTZRwH8G/vL22RPy5GW8fK6rJpGeFFY9RO3TRRE1HfmEAammEyjZmOSEg1RrPZaTD6xjhU/Ndlf0CZgwmD+qcgZBRIETeqY0Vcnc7pGonhRY2l3m2t5upqjq693l2vcy+8N81zz/NcPvf75fd7rjos8ku3yH34HyjK0PqlDLPzD56vMNL0VHxmpgXAoUIZXKgI3sMSpK+cNTAbylaj/9IkprnLM3+mkg8XQi4EsJ4lSL+ZNbAfVd+JG/XLcSERg3M8IAtZauBtDEkeNdN6fX9NfRqXueQiSwm00wQRMDMGw94snBJkqYBrSYIIXs/ojftqGq6IXHZRFIpkKYC2JSw9SJE663W0nthlqcMawwrJYpVCag1M48pNy1YNvLWRffGNIYSCv6Cnog7rjCtVIbUEXoG7qeqaNMj51F58dWoKPZY62JeWyUJG+ctcIplcIizWCpgTl9EIyODJn9BtceDWq/6B57tO/H4R688fFaZ7AWzWAiiJEyMDx39Ed6UDdyy7Ni/w1ekxbP95VJi/F8CRYoGycGLksaEJdFU6cPdy0zxkR/RbtE6FhPvHATQUm2JFODHSfyyCLmsd7lth/hf53q/jcE8OC+NTAG7PTKiNoCqcGPnpF+PotDrwwNXl+OC3H9A8cVqYPgPgFnFo1QCLwomRg4cvoPMGBzZHTgq3zwKwZ+ddKVATXAZhf+gdnPvuojAUqmJdrspRAtQU93pXEM+8clgwhQHU5itruUBNcTt6TsP9sl8weQC0S/VFOUBNcW/2folt2z+XhZPTZh6kSKJ79aqVRuFszRxfUm8sNbdz9xlsfekz2bhCQBvDMMM8z+ubN92Mjrb71brS+97dM4wtnk8U4SSBBEGErVarzeVywePxoHVLA1pb6lUh3+8bwZMv+BTjpIAVACa9Xq+uqakJ7e3tqpGd/WfR3Jr+81awIJS0mY0A+sLhMGw2W3qfGmTXvhAef/6gapxUBDuqqqoejUQiBvFbKUH2DHyNx54bLAqXF0jT9HBjY6Pd6/XOi7oc5K7936Dp2QNF4/IBrTqdLuLxeIi2tracRSGF/PDgKB55er8muHzATQB2m81m+P1+1NbmPoVyIfsOnUOj+2PNcPmAO1iWbeE4TmexWODz+WQhayrL4No2oCkuJ5Bl2VGO49ZmcisXObdeVSuRaq7ZZ3G10KBTqRQl3pQPGY1GEQgE4HQ6heVDAO5S1cklNmUDXQRB9KZSqXkfESaTCW63G7FYDKFQKDEyMoJoNKqfe/bbAJ7QGpcrxa8xDLOV5/k0kGXZv2ZnZ5FMJtNjmqYvURR1IpFInAcwAeD7ud/pUuDmAY1G41g8Hl9DkmScoqggx3FHAIyJMMlSQfI9V5zKagDC93dsoRFKimQx2dIWOV/U/yn6bx0WyDj8vgLOAAAAAElFTkSuQmCC');
    background-size: 100% 100%;
  }
}

hr {
  border-bottom: 2px solid #0ea5e9;
  margin: 16px auto;
}

p {
  line-height: 24px;
  margin: 0 0 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin: 0 auto .5em;
  padding: 12px;
  border: 0;
  background-color: #eff6ff;
  color: #3b82f6;
  line-height: 26px;
  border-radius: 6px;
  position: relative;
  text-indent: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: "\201C";
    font-size: 4em;
    font-family: monospace;
    position: absolute;
    height: 2em;
    width: 2em;
    left: -.8em;
    top: .4em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

a:not([class]) {
  line-height: 26px;
  color: #2563eb;
  text-decoration: none;
  transition: all .146s;

  &:hover {
    color: #0284c7;
    text-decoration: underline;
  }
}

ol {
  list-style: decimal;
  padding-left: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: disc;
  padding-left: 32px;
  margin-bottom: .5em;

  &:last-child {
    margin-bottom: 0;
  }
}

table {
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #64748b;
  border-collapse: collapse;
  @media (prefers-color-scheme: dark) {
    color: #94a3b8;
  }

  td, th {
    border: 1px solid #e2e8f0;
    @media (prefers-color-scheme: dark) {
      border-color: #cbd5e1;
    }

    &[align="center"] {
      text-align: center;
    }
  }

  thead {
    color: #334155;
    text-transform: uppercase;
    background-color: #f1f5f9;
    @media (prefers-color-scheme: dark) {
      color: #e2e8f0;
      background-color: #64748b
    }

    tr {
      > th {
        padding: 12px 16px;
      }
    }
  }

  tbody {
    tr {
      background-color: #fff;
      border-bottom: 1px solid #f8fafc;
      white-space: nowrap;
      @media (prefers-color-scheme: dark) {
        border-color: #334155;
        background-color: #1e293b;
      }

      &tr:nth-of-type(2n+1) {
        background-color: #e2e8f0;
        @media (prefers-color-scheme: dark) {
          background-color: #475569;
        }
      }

      > th {
        padding: 12px 16px;
        font-weight: 500;
        color: #0f172a;
        white-space: nowrap;
        @media (prefers-color-scheme: dark) {
          color: #fff;
        }
      }

      > td {
        padding: 12px 16px;
      }
    }
  }
}

@import "x";
