pre {
  position: relative;
  font-size: 14px;
  border-radius: 4px;
  overflow: hidden;
  white-space: pre-wrap;
  background-color: #f9fafB;
  border: 1px solid #ccc;
  padding: 0;
  margin: .5em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > code {
    position: relative;
    display: block;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 8px;

    &.hljs {
      padding: 32px 8px 8px;
    }
  }

  > code[class*="language-"] {
    background-color: transparent;

    &:before {
      content: '';
      position: absolute;
      left: 8px;
      top: 10px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      z-index: 1;
      background: #fc625d;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    }
  }

  .copy {
    position: absolute;
    display: flex;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: currentColor;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .2s;

    &:hover {
      border-color: currentColor;
    }
  }
}

:not(pre) > code {
  display: inline-block;
  font-size: 14px;
  margin: 0 4px;
  padding: 0 4px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 20px;
  background-color: #f9fafB;
}
