.x {
  &-hide {
    border: 1px solid #ccc;
    padding: 32px 8px 8px;
    border-radius: 4px;
    position: relative;
    background-color: #f3f4f6;

    br:first-child {
      display: none;
    }

    &.already-hide {
      text-align: center;
    }

    .x-hide-icon {
      position: absolute;
      display: flex;
      top: 8px;
      right: 8px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      fill: currentColor;

      svg {
        margin-top: -4px;
      }
    }

    .x-hide-text {
      display: block;
      cursor: pointer;
      user-select: none;
    }

    &:before {
      content: "";
      position: absolute;
      left: 8px;
      top: 10px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      z-index: 1;
      background: #fc625d;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    }

    &.blur {
      .x-hide-text {
        filter: blur(5px);
      }
    }
  }

  &-checkbox {
    display: none;

    &-label {
      display: inline-flex;
      width: 20px;
      height: 20px;
      margin-bottom: 2px;
      border-radius: 4px;
      position: relative;
      cursor: not-allowed;
      box-sizing: border-box;
      vertical-align: middle;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #99f;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQogIDxwYXRoIGQ9Ik01IDNDMy45MDY5MzcyIDMgMyAzLjkwNjkzNzIgMyA1TDMgMTlDMyAyMC4wOTMwNjMgMy45MDY5MzcyIDIxIDUgMjFMMTkgMjFDMjAuMDkzMDYzIDIxIDIxIDIwLjA5MzA2MyAyMSAxOUwyMSA1QzIxIDMuOTA2OTM3MiAyMC4wOTMwNjMgMyAxOSAzTDUgMyB6IE0gNSA1TDE5IDVMMTkgMTlMNSAxOUw1IDUgeiIgZmlsbD0iY3VycmVudENvbG9yIiAvPg0KPC9zdmc+");
    }

    &:checked + .x-checkbox-label {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQogIDxwYXRoIGQ9Ik01IDNDMy45MDY5MzcyIDMgMyAzLjkwNjkzNzIgMyA1TDMgMTlDMyAyMC4wOTMwNjMgMy45MDY5MzcyIDIxIDUgMjFMMTkgMjFDMjAuMDkzMDYzIDIxIDIxIDIwLjA5MzA2MyAyMSAxOUwyMSA1QzIxIDMuOTA2OTM3MiAyMC4wOTMwNjMgMyAxOSAzTDUgMyB6IE0gNSA1TDE5IDVMMTkgMTlMNSAxOUw1IDUgeiBNIDE2LjI5Mjk2OSA4LjI5Mjk2ODhMMTAgMTQuNTg1OTM4TDcuNzA3MDMxMiAxMi4yOTI5NjlMNi4yOTI5Njg4IDEzLjcwNzAzMUwxMCAxNy40MTQwNjJMMTcuNzA3MDMxIDkuNzA3MDMxMkwxNi4yOTI5NjkgOC4yOTI5Njg4IHoiIGZpbGw9ImN1cnJlbnRDb2xvciIgLz4NCjwvc3ZnPg==");
    }
  }
}