.x-post {
  background: #eee;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin: .5em 0;
  font-family: SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
  @media (min-width: 960px) {
    padding: 15px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.fake {
    width: 100%;
    margin-bottom: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 0;
    background-color: #f87171;
    position: relative;
    height: 28px;
    justify-content: center;

    .x-post-icon {
      position: absolute;
      left: 4px;
      top: 4px;

      svg {
        fill: currentColor;
        height: 20px;
        width: 20px;
      }
    }

    .x-post-text {
      user-select: none;
    }
  }

  .text-content {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: absolute;
    inset: 10px;
    right: calc(31.5% + 20px);

    @media (min-width: 960px) {
      inset: 15px;
      right: calc(31.5% + 30px);
    }

    .title, .title > a {
      font-size: 20px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      white-space: nowrap;
      line-height: 40px;
      @media (min-width: 960px) {
        font-size: 24px;
      }
    }

    .content {
      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
      font-size: 14px;

      * {
        padding-top: 0;
      }

      @media (min-width: 640px) {
        -webkit-line-clamp: 1;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-top: 8px;
      }

      @media (min-width: 1400px) {
        -webkit-line-clamp: 2;
      }
    }

    .meta {
      font-size: 13px;
      margin-top: auto;
      display: flex;
      gap: 20px;

      &-item {
        display: flex;
        align-items: center;
        gap: 2px;
        position: relative;

        &:before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background-size: 16px;
          margin-top: 1px;
        }

        &-date {
          &:before {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTkgMVYzSDE1VjFIMTdWM0gyMUMyMS41NTIzIDMgMjIgMy40NDc3MiAyMiA0VjIwQzIyIDIwLjU1MjMgMjEuNTUyMyAyMSAyMSAyMUgzQzIuNDQ3NzIgMjEgMiAyMC41NTIzIDIgMjBWNEMyIDMuNDQ3NzIgMi40NDc3MiAzIDMgM0g3VjFIOVpNMjAgMTFINFYxOUgyMFYxMVpNNyA1SDRWOUgyMFY1SDE3VjdIMTVWNUg5VjdIN1Y1WiI+PC9wYXRoPjwvc3ZnPg==);
          }
        }

        &-comment {
          &:before {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGNsYXNzPSJmaWxsLWN1cnJlbnQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNIDMgNSBMIDMgMjMgTCA4IDIzIEwgOCAyOC4wNzgxMjUgTCAxNC4zNTE1NjMgMjMgTCAyOSAyMyBMIDI5IDUgWiBNIDUgNyBMIDI3IDcgTCAyNyAyMSBMIDEzLjY0ODQzOCAyMSBMIDEwIDIzLjkxNzk2OSBMIDEwIDIxIEwgNSAyMSBaIE0gMTAgMTIgQyA4Ljg5NDUzMSAxMiA4IDEyLjg5NDUzMSA4IDE0IEMgOCAxNS4xMDU0NjkgOC44OTQ1MzEgMTYgMTAgMTYgQyAxMS4xMDU0NjkgMTYgMTIgMTUuMTA1NDY5IDEyIDE0IEMgMTIgMTIuODk0NTMxIDExLjEwNTQ2OSAxMiAxMCAxMiBaIE0gMTYgMTIgQyAxNC44OTQ1MzEgMTIgMTQgMTIuODk0NTMxIDE0IDE0IEMgMTQgMTUuMTA1NDY5IDE0Ljg5NDUzMSAxNiAxNiAxNiBDIDE3LjEwNTQ2OSAxNiAxOCAxNS4xMDU0NjkgMTggMTQgQyAxOCAxMi44OTQ1MzEgMTcuMTA1NDY5IDEyIDE2IDEyIFogTSAyMiAxMiBDIDIwLjg5NDUzMSAxMiAyMCAxMi44OTQ1MzEgMjAgMTQgQyAyMCAxNS4xMDU0NjkgMjAuODk0NTMxIDE2IDIyIDE2IEMgMjMuMTA1NDY5IDE2IDI0IDE1LjEwNTQ2OSAyNCAxNCBDIDI0IDEyLjg5NDUzMSAyMy4xMDU0NjkgMTIgMjIgMTIgWiI+PC9wYXRoPjwvc3ZnPg==);
          }
        }

        &:after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background-color: #6366f1;
          border-radius: 50%;
          position: absolute;
          right: -12px;
        }

        &:last-child:after {
          content: unset;
        }
      }
    }
  }

  .media-content {
    position: relative;
    flex-shrink: 0;
    width: 31.5%;

    &:before {
      content: "";
      display: block;
      padding-top: 62.15%;

      @media (min-width: 1200px) {
        padding-top: 62.15%;
      }
    }

    a {
      display: block;
      position: absolute;
      inset: 0;

      img {
        border-radius: 4px;
        height: 100%;
        width: 100%;
        bottom: 0;
      }
    }
  }
}
