/** 相册排列通用样式 */
.x-photos {
  &.google{
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -4px;

    & > :is( br,span.line) {
     display: none !important;
    }

    &:after {
      content: '';
      flex-grow: 999999999;
    }

    @for $i from 1 through 6 {
      &[grid-cols="#{$i}"] {
        $width: 100% / $i;
        .photo {
          width: $width;
        }
      }
    }

    .photo {
      width: 25%;
      height: 200px;
      display: flex;
      margin-bottom: 4px;
      border-bottom: unset;

      #wmd-preview & {
        width: 25%;
        height: 150px;
      }

      img {
        width: calc(100% - 4px);
        display: block;
        object-fit: cover;
        margin: 2px;
        height: 100%;

        @media (min-width: 768px) {
          img {
            &:nth-last-child(6),
            &:nth-last-child(6) ~ .photo {
              flex-grow: 0;
            }
          }
        }
        @media (min-width: 1200px) {
          img {
            &:nth-last-child(8),
            &:nth-last-child(8) ~ .photo {
              flex-grow: 0;
            }
          }
         }
      }

      &:nth-last-child(4),
      &:nth-last-child(4) ~ .photo {
        flex-grow: 0;
      }
    }
  }
}